@font-face {
   font-family: 'CircularStd-Bold (1)';
   font-display: swap;
   src: url('file:///Users/valeriystrechen/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-03-04_142506/fonts/CircularStd-Bold%20(1)/font.eot');
}
